export KUBECONFIG=~/.kube/ahq/dev.config:~/.kube/ahq/demo.config:~/.kube/config:~/.kube/kubezt/niwc.664575afb2611ebf1ebf94fb.config
export KUBEZT_ENV=664575afb2611ebf1ebf94fb
export KUBEZT_ENV_ID=664575afb2611ebf1ebf94fb
export PATH=/home/kubezt/repos/kubezt/.venv/bin:$PATH
export VIRTUAL_ENV=/home/kubezt/repos/kubezt/.venv

